gradio
-e git+ssh://git@github.com/taras-sereda/tortoise-tts.git@taras#egg=tortoise
fastapi
torch
pandas
soundfile
numpy
pydantic
uvicorn
omegaconf
sqlalchemy
sqlalchemy_schemadisplay
sqlite-utils
git+https://github.com/openai/whisper.git
jupyter
pyannote.audio
pydub
deepl
levenshtein
python-podcastindex
sqlacodegen
aiohttp
datasets
speechbrain
pytube
ffmpeg-python